extends ../layout


block content
  h1 My profile
  button.btn.btn-primary(type='button', style="margin-right: 20px", onclick="location.href = 'articles/article-form'") Add new article 
  i.fa.fa-plus-square
  button.btn.btn-primary(type='button', onclick="location.href = 'articles/articles'") List of articles
  i.fa.fa-plus-square