.container
   h1 My blog
   ul
       li 
        button.btn.btn-primary(type='button') Log In
          i.fa.fa-plus-square
       li      
        button.btn.btn-primary(type='button') Create account
          i.fa.fa-plus-square
   
