<% include ../partials/head %>
<% include ../partials/header %>

<div class="container">
    <div class="row">
       <div class="col-md-6">
        <div class="col-md-3">
          <p><a class="btn btn-primary" href="articles/article-form" role="button">Add article</a></p>
        </div>
        <div class="col-md-3">
          <p><a class="btn btn-primary" href="/articles" role="button">List of articles</a></p>
        </div>
        <div class="col-md-3">
          <p><a class="btn btn-primary" href="categories/category-form" role="button">Add category</a></p>
        </div>
        <div class="col-md-3">
          <p><a class="btn btn-primary" href="/categories" role="button">List of category</a></p>
        </div>
      </div>
    </div>
</div>
<% include ../partials/footer %>