/* 
.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rosybrown;
    text-align: center;
    font-family: Arial;
}


.container ul {
  list-style-type: none;
  text-decoration: none;
  background: green;
  width: auto;
  height: auto;
}

.container ul li {
    display: inline-block;
    padding: 10px;
    padding-bottom: 30px;
    margin-right: 10px;
    float: right;
}

.articles {
    width: 90%;
    height: auto;
    font-family: Verdana;
    margin: 50px;

}

h2 {
    text-align: center;
}

.articles ul{ 
    text-decoration: none;
    list-style-type: none;
}

.articles ul li {
    padding: 10px;
}

.form {
    width: 100%;
    margin: 0 40%;
    padding: 10px;
}
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 60px;
    background-color: blanchedalmond;
    text-align: center;
} */

body {
    background-color: #eee;
  }
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .footer {
    position: fixed;
    width: 85%;
    bottom: 0;
    height: 60px;
    background-color: blanchedalmond;
    text-align: center;
  }