   <!-- Footer -->
   <footer class="py-3 bg-dark" style="margin-top: 100%">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Topala Mihai 2018</p>
    </div>
   
  </footer>